%navi.navbar.navbar-expand-md.navbar-dark.bg-dark
  = link_to "FC.Alegreal", "/", { class: "navbar-brand" }
  %button.navbar-toggler{ type: "button", data: { toggle: "collapse", target: "#navbarNav" }, aria: { controls: "navbarNav", expanded: "false", label: "Toggle navigation" } }
    %span.navbar-toggler-icon
  %div#navbarNavAltMarkup.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item
        = link_to "ホーム", "/", { class: "nav-link" }
      %li.nav-item
        = link_to "チーム紹介", "/team", { class: "nav-link" }
      %li.nav-item
        = link_to "メンバー紹介", "/members", { class: "nav-link" }
      %li.nav-item
        = link_to "スケジュール", "/schedule", { class: "nav-link" }
      %li.nav-item
        = link_to "Instagram", "/instagram", { class: "nav-link" }
    %div.my-2.my-lg-0
      - if user_signed_in?
        = link_to "ログアウト", destroy_user_session_path, class: 'navbar-link'
      - else
        = link_to "ログイン", new_user_session_path, class: "btn btn-outline-success my-2 my-sm-0"
