%navi.navbar.navbar-expand-md.navbar-dark.bg-dark{ style: "height: 40px;" }
  = link_to "FC.Alegreal", "/", { class: "navbar-brand" }
  %button.navbar-toggler{ type: "button", data: { toggle: "collapse", target: "#navbarNav" }, aria: { controls: "navbarNav", expanded: "false", label: "Toggle navigation" } }
    %span.navbar-toggler-icon
  %div#navbarNavAltMarkup.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item
        = link_to "/", { class: "nav-link" } do
          = icon "fas", "home", "ホーム"
      %li.nav-item
        = link_to "/team", { class: "nav-link" } do
          = icon "far", "futbol", "チーム紹介"
      %li.nav-item
        = link_to members_path, { class: "nav-link" } do
          = icon "fas", "users", "メンバー紹介"
      %li.nav-item
        = link_to "/schedule", { class: "nav-link" } do
          = icon "fas", "calendar-alt", "スケジュール"
      %li.nav-item
        = link_to "/", { class: "nav-link" } do
          = icon "fab", "instagram", "Instagram"
      - if user_signed_in?
        %li.nav-item.dropdown
          %a#navbarDropdown.nav-link.dropdown-toggle{ href: "#", role: "button", data: { toggle: "dropdown" }, aria: { haspopup: "true", expanded: "false" } } メンバー限定
          %div.dropdown-menu{ aria: { labelledby: "navbarDropdown" } }
            = link_to "初めての方へ", "#", class: "dropdown-item"
            = link_to "各種購入申請", "#", class: "dropdown-item"
            = link_to "会計情報", "#", class: "dropdown-item"
            %div.dropdown-divider
            = link_to "メンバー管理", "#", class: "dropdown-item"
            = link_to "スケジュール管理", "#", class: "dropdown-item"
            = link_to "投稿管理", "#", class: "dropdown-item"
    %div.my-2.my-lg-0
      - if user_signed_in?
        = link_to icon("fa", "user", "ユーザー管理"), edit_user_registration_path, { class: "" }
        = link_to "ログアウト", destroy_user_session_path, class: 'navbar-link'
      - else
        = link_to "ログイン", new_user_session_path, class: "btn btn-outline-success my-2 my-sm-0"
