!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FcAlegrealHp
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    %header.fixed-top
      = render partial: 'shared/header'
    - if @header_content
      #header-content
        = render partial: 'shared/carousel'
    = yield
    %footer.fixed-bottom
      = render partial: 'shared/footer'
