%h1 FC.Alegreal メンバー一覧

- @members.each do |m|
  .card{style: "width: 280px;"}
    %img.card-img-top
    .card-body
    %p.card-text= m.name
    %p.card-text= m.number
    %p.card-text= m.message
    %p.card-text= link_to '詳細', m
    - if user_signed_in?
      %p.card-text= link_to '編集', edit_member_path(m)
      %p.card-text= link_to '削除', m, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }

- if user_signed_in?
  = link_to 'New Member', new_member_path
